[Unit]
Description=Home Assistant
After=network.target

[Service]
Type=simple
User=homeassistant
Environment=HASS_CONFIG=/home/homeassistant/.homeassistant
ExecStart=/srv/homeassistant/bin/hass -c "$HASS_CONFIG"
ExecReload=/srv/homeassistant/bin/hass -c "$HASS_CONFIG" --script check_config
ExecReload=/bin/kill -HUP $MAINPID
SendSIGKILL=yes
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
